# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=f9410220-6683-4ffb-826b-e6c4aa7d262b

    # Set to true to disable all reporting
    B:opt-out=false
}


